$LimeGreen: hsl(163, 72%, 41%);
$BrightRed: hsl(356, 69%, 56%);
$Facebook: hsl(208, 92%, 53%);
$Twitter: hsl(203, 89%, 53%);
$Instagram: linear-gradient(182deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
$YouTube: hsl(348, 97%, 39%);
$Toggle: hsl(230, 22%, 74%);
$Toggle2: linear-gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);

$VeryPaleBlue: #f5f7ff;
$LightGrayishBlue: #f0f2fa;
$DarkGrayishBlue: #63687e;
$VeryDarkBlue1 : #1e202a;
$VeryDarkBlue2 : #1f212e;
$DarkDesaturatedBlue : #252a41;
$DesaturatedBlue : #8b97c6;
$crack: #ffffff;