@import 'colors';
@import 'media-quires';

.section-two{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  background: transparent;

  h2{
    color: $DesaturatedBlue;
    margin-bottom: 20px;
  }

  .reaction-section{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    .bridge{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 20px;

      div{
        background-color: $LightGrayishBlue;
        padding: 12px;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        section{
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: transparent;

          .number{
            font-size: 20px;
            font-weight: 700;
          }
          .green{
            color: $LimeGreen;
          }
          .red{
            color: $BrightRed;
          }

          div{
            align-items: center;
            gap: 4px;
            flex-direction: row;
            background-color: transparent;
          }
        }
      }

    }
  }
}
