@import 'colors';
@import 'media-quires';

.section-one{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  width: 70%;
  margin: 0 auto;
  margin-top: -95px;
  margin-bottom: 25px;

  .facebook{
    border-top: 3px solid $Facebook;
    .social-update{
      p{
        color: $LimeGreen;
      }
    }
  }
  .twitter{
    border-top: 3px solid $Twitter;
    .social-update{
      p{
        color: $LimeGreen;
      }
    }
  }
  .instagram{
    border-top: linear-gradient(180deg, $LimeGreen, $BrightRed);
    .social-update{
      p{
        color: $LimeGreen;
      }
    }
  }
  .youtube{
    border-top: 3px solid $YouTube;
    .social-update{
      p{
        color: $BrightRed;
      }
    }
  }
  
  div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px 0;
    background-color: $LightGrayishBlue;
    border-radius: 3px;

    .social-media, .social-update{
      background-color: transparent;
    }

    h1{
      font-size: 40px;
      font-weight: 700;
    }
    p{
      text-transform: uppercase;
      letter-spacing: 4px;
      font-weight: 400;
    }

    div{
      flex-direction: row;

      p{
        text-transform: capitalize;
        letter-spacing: normal;
      }

      img{
        margin-right: 5px;
      }
    }
  }
}