.color{
color: hsl(230, 17%, 14%);
color: hsl(232, 19%, 15%);
color: hsl(228, 28%, 20%);
color: hsl(228, 34%, 66%);
color: hsl(0, 0%, 100%);

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1e202a;
  font-family: "Inter", sans-serif;
}

header {
  height: 32vh;
  width: 100%;
  background-color: #1f212e;
}
header section {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
header section div h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 17px;
}
header section div h3 {
  font-size: 12px;
  font-weight: 400;
  color: #8b97c6;
}
header section .switch {
  position: relative;
  display: inline-flex;
  width: 49px;
  height: 22px;
  align-items: center;
}
header section p {
  margin-left: -66px;
}
header section .switch input {
  display: none;
}
header section .slider {
  position: absolute;
  cursor: pointer;
  height: 22px;
  width: 48px;
  background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  transition: 0.4s;
  border-radius: 34px;
  border-radius: 34px;
}
header section .slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
header section input:checked + .slider {
  background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}
header section input:focus + .slider {
  box-shadow: 0 0 1px hsl(210, 78%, 56%);
}
header section input:checked + .slider:before {
  transform: translateX(26px);
}
header section .dark {
  color: #8b97c6;
}

label p{
  color: hsl(228, 34%, 66%);
}

.section-one {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  width: 70%;
  margin: 0 auto;
  margin-top: -95px;
  margin-bottom: 25px;
}
.section-one .facebook {
  border-top: 3px solid hsl(208, 92%, 53%);
}
.section-one .twitter {
  border-top: 3px solid hsl(203, 89%, 53%);
}
.section-one .instagram {
  border-top: 3px solid transparent; 
  border-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%)); 
  border-image-slice: 1;
}
.section-one .youtube {
  border-top: 3px solid hsl(348, 97%, 39%);
}
.section-one .youtube .social-update p {
  color: hsl(356, 69%, 56%);
}
.section-one .facebook .social-update p, .section-one .twitter .social-update p, .section-one .instagram .social-update p{
  color: hsl(163, 72%, 41%);
}
.section-one div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px 0;
  background-color: #252a41;
  border-radius: 3px;
}
.section-one div:hover{
  background-color: hsl(227, 25%, 28%);
}
.section-one div .social-media, .section-one div .social-update {
  background-color: transparent;
}
.section-one div h1 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}
.section-one div p {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 400;
  color: #8b97c6;
}
.section-one div div {
  flex-direction: row;
}
.section-one div div p {
  text-transform: capitalize;
  letter-spacing: normal;
}
.social-media p{
  color: #fff;
}
.section-one div div img {
  margin-right: 5px;
}
.update{
  color: hsl(163, 72%, 41%);
}

.section-two {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  background: transparent;
}
.section-two h2 {
  color: hsl(228, 34%, 66%);
  margin-bottom: 20px;
}
.section-two .reaction-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.section-two .reaction-section .bridge {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.section-two .reaction-section .bridge div {
  background-color: #252a41;
  padding: 12px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section-two .reaction-section .bridge div:hover{
  background-color: hsl(227, 25%, 28%);
}
.section-two .reaction-section .bridge div section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}
.section-two .reaction-section .bridge div section .number {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.section-two .reaction-section .bridge div section .green {
  color: hsl(163, 72%, 41%);
}
.section-two .reaction-section .bridge div section .red {
  color: hsl(356, 69%, 56%);
}
.section-two .reaction-section .bridge div section div {
  align-items: center;
  gap: 4px;
  flex-direction: row;
  background-color: transparent;
}
.head{
  color: #8b97c6;
}


@media(width <=375px){
  header{
    height: 22vh;
  }
  header section{
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
    padding: 0;
  }
  header div{
    border-bottom: 1px solid rgb(101, 101, 101);
    padding: 20px;
  }
  header section p{
    margin: 0;
  }
  header section .switch{
    align-items: center;
    width: 100%;
    padding: 20px;
  }
  header section .slider{
    right: 20px;
  }
  .section-one, .section-two{
    margin-top: 30px;
    grid-template-columns: 1fr;
    width: 85%;
  }
  .section-one div h1{
    font-size: 50px;
  }
  .section-two .reaction-section .bridge{
    grid-template-columns: 1fr;
  }
}

