@import 'colors';
@import 'media-quires';
@import 'header';
@import 'section-one';
@import 'section-two';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: $crack;
  font-family: 'Inter', sans-serif;
}
